
@media screen
{
	body  {
		color:#FFFFFF;
		background-color:#181818;
		font-family: Verdana,Arial,sans-serif;
	}

	table {
		background-color:#181818; 
		color:#FFFFFF; border: 
		empty-cells:show;
	}

	th    {
		padding:4;
		background: #303030;
		color:#F07000;
		margin: .25em;
		vertical-align: bottom;
		font-weight:normal;
		font-size:8pt;
		border-bottom: 1px solid #606060;
	}

	tr    {
		vertical-align: top;
	}

	td    {
		padding:4;
		background: #404040;
		margin: .25em;
		vertical-align: top;
		border-bottom: 1px solid #606060;
		font-size:8pt;
	}

	*.grayed  {
		background: #383838;
		color:#Ffb000;
		border-bottom: 1px solid #606060;
	}

	p {
		font-size:7pt;
	}
	
	p.rem {
		color:#FFFFFF;
		font-size:8pt;
	}

	h1 {
		font-family: Arial,sans-serif;
		font-weight:bold;
		font-size:12pt;
		color:#F07000;
	}

	h2 {
		font-weight:bold;
		font-size:10pt;
		color:#F07000;
	}
}
@media print
{
	body  {
		font-family:Arial, Verdana, sans-serif;
	}

	table {
		border: 1px solid #000000;
	}

	th    {
		padding:4;
		margin: .25em;
		vertical-align: bottom;
		font-weight:normal;
		font-size:5pt;
		border-bottom: 1px solid #808080;
	}

	tr    {
		vertical-align: top;
	}

	td    {
		padding:4;
		margin: .25em;
		vertical-align: top;
		border-bottom: 1px solid #808080;
		font-size:5pt;
	}

	*.grayed  {
		font-weight:bold;
		background: #A0A0A0;
		border-bottom: 1px solid #808080;
		font-weight:bold;
	}

	p {
		font-size:5pt;
	}
	
	p.rem {
		color:#000000;
		font-size:5pt;
	}	

	h1 {
		font-weight:bold;
		font-size:10pt;
	}

	h2 {
		font-weight:bold;
		font-size:8pt;
	}
}
